html, body {
	font-family: Arial, sans-serif;
	background-color: #cdccb0;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #f0f0e0;
}

.logo img {
    width: 40px;
    display: block;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.login-button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

.place-card, .review-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.details-button {
    background-color: rgb(255, 200, 0);
    color: black;
    padding: 8px;
    text-decoration: none;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, textarea, select {
    margin-bottom: 10px;
    padding: 5px;
}

footer {
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.place-card {
    display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.images-container {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    width: fit-content;
}

.images-container img {
    width: 120px;
    margin: 0;
}

.place-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

#places-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}

h3 {
  width: 230px;
}

p {
	width: 150px-300px;
}

.place-details .images-container {
    display: flex;
    gap: 10px;
}

.place-details .images-container img {
    width: 50px;
    height: 100px;
    border-radius: 10px;
}
